# Obtaining Your Data - Lab

## Introduction
In this lab you'll practice your munging and transforming skills in order to load in your data to solve a regression problem.

## Objectives
You will be able to:
* Understand the ETL process and the steps it consists of
* Understand the challenges of working with data from multiple sources

## Task Description

You just got hired by Lego! Your first project is going to be to develop a pricing algorithm to help set a target price for new lego sets that are released to market. To do this, you're first going to need to start mining the company database in order to collect the information you need to develop a model.

Start by investigating the database stored in lego.db and joining the tables into a unified dataset!

> **Hint:** use this sql statement to preview the tables in an unknown database:
```sql
SELECT name FROM sqlite_master
             WHERE type='table'
             ORDER BY name;
```

In [82]:
# Your code here

import pandas as pd
import psycopg2

In [84]:
!createdb lego2

In [85]:
! which pgloader

/usr/local/bin/pgloader

In [86]:
!pgloader ./lego.db postgresql:///lego2

2019-08-13T01:24:53.016000+01:00 LOG pgloader version "3.6.1"
2019-08-13T01:24:53.019000+01:00 LOG Data errors in '/private/tmp/pgloader/'
2019-08-13T01:24:53.157000+01:00 LOG Migrating from #<SQLITE-CONNECTION sqlite:///Users/flatironschool/development/mod4/learnco/dsc-obtaining-your-data-lab-seattle-ds-062419/./lego.db {1005CE4913}>
2019-08-13T01:24:53.157000+01:00 LOG Migrating into #<PGSQL-CONNECTION pgsql://flatironschool@UNIX:5432/lego2 {1005E26143}>
2019-08-13T01:24:53.835000+01:00 LOG report summary reset
             table name     errors       rows      bytes      total time
-----------------------  ---------  ---------  ---------  --------------
                  fetch          0          0                     0.000s
        fetch meta data          0          8                     0.054s
         Create Schemas          0          0                     0.001s
       Create SQL Types          0          0                     0.007s
          Create tables          0          8                     0.031s
         Set Table OIDs          0          4                     0.009s
-----------------------  ---------  ---------  ---------  --------------
        product_pricing          0      10870   187.7 kB          0.123s
           product_info          0        744    26.1 kB          0.077s
        product_details          0        744    23.5 kB          0.097s
        product_reviews          0        744    19.5 kB          0.033s
-----------------------  ---------  ---------  ---------  --------------
COPY Threads Completion          0          4                     0.169s
 Index Build Completion          0          4                     0.189s
         Create Indexes          0          4                     0.025s
        Reset Sequences          0          0                     0.045s
           Primary Keys          0          4                     0.009s
    Create Foreign Keys          0          0                     0.000s
        Create Triggers          0          0                     0.000s
       Install Comments          0          0                     0.000s
-----------------------  ---------  ---------  ---------  --------------
      Total import time          ✓      13102   256.8 kB          0.437s

In [92]:
conn = psycopg2.connect(host='localhost',database='lego2')
c = conn.cursor()

In [130]:
conn.rollback()

In [131]:
response = ['product_pricing', 'product_info', 'product_details','product_reviews']

In [138]:
for i in response:
    c.execute(f"""SELECT * FROM {i};""")
    df = pd.DataFrame(c.fetchall())
    df.columns= [i[0] for i in c.description]
    print(i,'\n', df,'\n')

product_pricing
        prod_id country         list_price
0        75823      US              29.99
1        75822      US              19.99
2        75821      US              12.99
3        21030      US              99.99
4        21035      US              79.99
5        21039      US              59.99
6        21028      US              59.99
7        21029      US              49.99
8        21034      US              39.99
9        21033      US              39.99
10       21036      US              39.99
11       21019      US              34.99
12       21032      US              29.99
13       17101      US             159.99
14       41597      US              29.99
15       41614      US              19.99
16       41613      US              19.99
17       41609      US               9.99
18       41608      US               9.99
19       41604      US               9.99
20       41605      US               9.99
21       41606      US               9.99
22       41607      US               9.99
23       41485      US               9.99
24       40270      US               9.99
25       41599      US               9.99
26       41598      US               9.99
27       41603      US               9.99
28       41602      US               9.99
29       41600      US               9.99
...        ...     ...                ...
10840    42077      PT           121.9878
10841    42065      PT           109.7878
10842    42068      PT           109.7878
10843    42076      PT            91.4878
10844    42063      PT            67.0878
10845    42062      PT            67.0878
10846    42075      PT            54.8878
10847     8293      PT            43.9078
10848    42074      PT            36.5878
10849    42072      PT            24.3878
10850    42073      PT            24.3878
10851    42059      PT            24.3878
10852    42060      PT            24.3878
10853    42058      PT            24.3878
10854    42057      PT            20.7278
10855    42071      PT            18.2878
10856    42084      PT            13.4078
10857    70912      PT           207.3878
10858    70917      PT           176.8878
10859    70909      PT           140.2878
10860    70916      PT           121.9878
10861    70905      PT  79.28779999999998
10862    70906      PT            69.5278
10863    70914      PT            60.9878
10864    70911      PT            42.6878
10865    70903      PT            42.6878
10866    70910      PT            30.4878
10867    70901      PT            30.4878
10868    70913      PT            18.2878
10869    70900      PT            18.2878

[10870 rows x 3 columns]

product_info
      prod_id  ages  piece_count  \
0        630    4+            1
1       2304  1½-5            1
2       7280  5-12            2
3       7281  5-12            2
4       7499  5-12           24
5       7895  5-12            8
6       8293  9-16           10
7       9843    8+            1
8      10214   16+         4295
9      10220   16+         1334
10     10242   16+         1077
11     10243   16+         2469
12     10246   16+         2262
13     10247   16+         2464
14     10249   12+          898
15     10251   16+         2382
16     10252   16+         1167
17     10253   16+         4163
18     10254   12+          734
19     10255   16+         4002
20     10256   16+         5923
21     10257   16+         2670
22     10258   16+         1686
23     10259   12+          902
24     10260   16+         2480
25     10507   2-5           52
26     10508   2-5          134
27     10572  1½-5           65
28     10590   2-5           29
29     10592   2-5           26
..       ...   ...          ...
714    76078  7-14          375
715    76079  6-12          197
716    76080  7-14          323
717    76082  6-12          185
718    76083  7-14          375
719    76084  7-14          400
720    76085  6-12          197
721    76086  7-14          622
722    76087  9-14          955
723    76088  7-14          492
724    76089  5-12           89
725    76090  5-12           86
726    76091  5-12           79
727    76096  6-12          199
728    76097  7-14          406
729    76098  6-12          271
730    76099  6-12          229
731    76100  7-14          358
732    76101  6-12          124
733    76102  6-12          223
734    76103  7-14          416
735    76104  7-14          375
736    76105   14+         1363
737    76107  8-14          674
738    76108  8-14         1004
739   853516    6+           30
740   853638    7+           61
741  2000409    6+         4900
742  2000430    6+         2631
743  2000431    6+         2455

                                              set_name
0                                      Brick Separator
1                         LEGO® DUPLO® Green Baseplate
2                          Straight & Crossroad Plates
3                      T-Junction & Curved Road Plates
4                         Flexible and Straight Tracks
5                                     Switching Tracks
6                      LEGO® Power Functions Motor Set
7                                         Touch Sensor
8                                         Tower Bridge
9                             Volkswagen T1 Camper Van
10                                         MINI Cooper
11                                 Parisian Restaurant
12                                  Detective’s Office
13                                        Ferris Wheel
14                                     Winter Toy Shop
15                                          Brick Bank
16                                   Volkswagen Beetle
17                                             Big Ben
18                                Winter Holiday Train
19                                     Assembly Square
20                                           Taj Mahal
21                                            Carousel
22                                          London Bus
23                              Winter Village Station
24                                      Downtown Diner
25                                  My First Train Set
26                                    Deluxe Train Set
27                  LEGO® DUPLO® All-in-One-Box-of-Fun
28                                             Airport
29                                          Fire Truck
..                                                 ...
714                                  Hulk vs. Red Hulk
715                                     Ravager Attack
716                                   Ayesha's Revenge
717                                   ATM Heist Battle
718                                 Beware the Vulture
719                     The Ultimate Battle for Asgard
720                                 Battle of Atlantis
721                        Knightcrawler Tunnel Attack
722               Flying Fox: Batmobile Airlift Attack
723                         Thor vs. Hulk: Arena Clash
724          Mighty Micros: Scarlet Spider vs. Sandman
725                Mighty Micros: Star-Lord vs. Nebula
726                       Mighty Micros: Thor vs. Loki
727                        Superman™ & Krypto™ Team-Up
728                          Lex Luthor™ Mech Takedown
729                         Speed Force Freeze Pursuit
730                         Rhino Face-Off by the Mine
731                         Royal Talon Fighter Attack
732                           Outrider Dropship Attack
733                                Thor's Weapon Quest
734                      Corvus Glaive Thresher Attack
735                            The Hulkbuster Smash-Up
736                     The Hulkbuster: Ultron Edition
737                            Thanos: Ultimate Battle
738                         Sanctum Sanctorum Showdown
739     LEGO® NEXO KNIGHTS™ Monsters Army-Building Set
740  THE LEGO® BATMAN MOVIE Batman™ Minifigure Coll...
741                             Window Exploration Bag
742                         Identity and Landscape Kit
743                                    Connections Kit

[744 rows x 4 columns]

product_details
      prod_id prod_desc prod_long_desc               theme_name
0        630      blah       blahblah                  Classic
1       2304      blah       blahblah                   DUPLO®
2       7280      blah       blahblah                     City
3       7281      blah       blahblah                     City
4       7499      blah       blahblah                     City
5       7895      blah       blahblah                     City
6       8293      blah       blahblah          Power Functions
7       9843      blah       blahblah              MINDSTORMS®
8      10214      blah       blahblah           Creator Expert
9      10220      blah       blahblah           Creator Expert
10     10242      blah       blahblah           Creator Expert
11     10243      blah       blahblah           Creator Expert
12     10246      blah       blahblah           Creator Expert
13     10247      blah       blahblah           Creator Expert
14     10249      blah       blahblah           Creator Expert
15     10251      blah       blahblah           Creator Expert
16     10252      blah       blahblah           Creator Expert
17     10253      blah       blahblah           Creator Expert
18     10254      blah       blahblah           Creator Expert
19     10255      blah       blahblah           Creator Expert
20     10256      blah       blahblah           Creator Expert
21     10257      blah       blahblah           Creator Expert
22     10258      blah       blahblah           Creator Expert
23     10259      blah       blahblah           Creator Expert
24     10260      blah       blahblah           Creator Expert
25     10507      blah       blahblah                   DUPLO®
26     10508      blah       blahblah                   DUPLO®
27     10572      blah       blahblah                   DUPLO®
28     10590      blah       blahblah                   DUPLO®
29     10592      blah       blahblah                   DUPLO®
..       ...       ...            ...                      ...
714    76079      blah       blahblah      Marvel Super Heroes
715    76080      blah       blahblah      Marvel Super Heroes
716    76082      blah       blahblah      Marvel Super Heroes
717    76083      blah       blahblah      Marvel Super Heroes
718    76084      blah       blahblah      Marvel Super Heroes
719    76085      blah       blahblah  DC Comics™ Super Heroes
720    76086      blah       blahblah  DC Comics™ Super Heroes
721    76087      blah       blahblah  DC Comics™ Super Heroes
722    76088      blah       blahblah      Marvel Super Heroes
723    76089      blah       blahblah      Marvel Super Heroes
724    76090      blah       blahblah      Marvel Super Heroes
725    76091      blah       blahblah      Marvel Super Heroes
726    76096      blah       blahblah  DC Comics™ Super Heroes
727    76097      blah       blahblah  DC Comics™ Super Heroes
728    76098      blah       blahblah  DC Comics™ Super Heroes
729    76099      blah       blahblah      Marvel Super Heroes
730    76100      blah       blahblah      Marvel Super Heroes
731    76101      blah       blahblah      Marvel Super Heroes
732    76102      blah       blahblah      Marvel Super Heroes
733    76103      blah       blahblah      Marvel Super Heroes
734    76104      blah       blahblah      Marvel Super Heroes
735    76105      blah       blahblah      Marvel Super Heroes
736    76107      blah       blahblah      Marvel Super Heroes
737    76108      blah       blahblah      Marvel Super Heroes
738   853516      blah       blahblah            NEXO KNIGHTS™
739   853638      blah       blahblah   THE LEGO® BATMAN MOVIE
740  2000409      blah       blahblah            SERIOUS PLAY®
741  2000414      blah       blahblah            SERIOUS PLAY®
742  2000430      blah       blahblah            SERIOUS PLAY®
743  2000431      blah       blahblah            SERIOUS PLAY®

[744 rows x 4 columns]

product_reviews
      prod_id  num_reviews  play_star_rating review_difficulty  star_rating  \
0        630        180.0               4.0         Very Easy          4.8
1       2304         15.0               4.4              Easy          4.0
2       7280         85.0               4.1         Very Easy          3.5
3       7281         40.0               4.1         Very Easy          3.9
4       7499         89.0               2.9              Easy          2.5
5       7895         47.0               4.2         Very Easy          4.1
6       8293         57.0               4.6              Easy          4.5
7       9843         13.0               3.8         Very Easy          3.8
8      10214        228.0               4.2       Challenging          4.8
9      10220        337.0               4.3       Challenging          4.7
10     10242        134.0               4.4           Average          4.7
11     10243        202.0               4.7       Challenging          4.9
12     10246        177.0               4.4       Challenging          4.6
13     10247         91.0               4.9       Challenging          4.9
14     10249        142.0               3.9           Average          3.8
15     10251        115.0               4.5       Challenging          4.7
16     10252         66.0               4.5           Average          4.9
17     10253         64.0               3.7       Challenging          4.6
18     10254         77.0               4.3           Average          4.3
19     10255         99.0               4.7       Challenging          4.8
20     10256         43.0               3.9       Challenging          4.8
21     10257         53.0               4.2       Challenging          4.4
22     10258         53.0               4.1           Average          4.6
23     10259         51.0               3.8           Average          3.8
24     10260         62.0               4.4       Challenging          4.6
25     10507         11.0               4.9              Easy          4.7
26     10508         22.0               4.6           Average          4.1
27     10572          4.0               4.8         Very Easy          5.0
28     10590          3.0               5.0              Easy          5.0
29     10592          2.0               5.0         Very Easy          5.0
..       ...          ...               ...               ...          ...
714    76079          9.0               4.3              Easy          4.4
715    76080         12.0               4.3           Average          4.8
716    76082          9.0               3.9              Easy          3.9
717    76083         23.0               4.4           Average          4.6
718    76084          6.0               4.8              Easy          4.3
719    76085          9.0               3.9              Easy          4.2
720    76086          6.0               5.0           Average          5.0
721    76087         13.0               4.1           Average          3.7
722    76088          6.0               4.7           Average          4.3
723    76089          NaN               NaN               nan          NaN
724    76090          NaN               NaN               nan          NaN
725    76091          2.0               3.5              Easy          3.5
726    76096          1.0               5.0           Average          5.0
727    76097          5.0               5.0           Average          4.8
728    76098          6.0               4.5              Easy          4.8
729    76099          6.0               4.4              Easy          4.7
730    76100          7.0               4.7           Average          4.7
731    76101         13.0               4.2              Easy          4.8
732    76102         10.0               4.4              Easy          4.4
733    76103          3.0               3.7           Average          4.0
734    76104         13.0               4.7              Easy          4.8
735    76105         52.0               3.2           Average          3.8
736    76107         17.0               4.9           Average          4.7
737    76108          7.0               4.8           Average          5.0
738   853516          NaN               NaN               nan          NaN
739   853638         19.0               2.1         Very Easy          2.9
740  2000409          2.0               5.0              Easy          5.0
741  2000414         10.0               3.9              Easy          3.9
742  2000430          7.0               4.7              Easy          4.6
743  2000431          8.0               3.7           Average          3.4

     val_star_rating
0                4.6
1                3.3
2                2.3
3                2.8
4                2.2
5                3.6
6                3.9
7                3.5
8                4.6
9                4.5
10               4.5
11               4.7
12               4.4
13               4.7
14               3.7
15               4.2
16               4.7
17               4.6
18               4.1
19               4.5
20               4.5
21               4.2
22               4.3
23               3.4
24               4.3
25               4.4
26               3.7
27               4.0
28               4.7
29               5.0
..               ...
714              4.8
715              4.3
716              4.2
717              3.9
718              4.5
719              3.9
720              4.8
721              3.0
722              4.0
723              NaN
724              NaN
725              3.0
726              5.0
727              4.8
728              4.5
729              5.0
730              4.8
731              4.8
732              4.9
733              3.7
734              4.7
735              4.0
736              4.2
737              4.8
738              NaN
739              2.8
740              5.0
741              3.3
742              3.6
743              2.9

[744 rows x 6 columns]

In [144]:
c.execute("""
            select * from product_pricing
            join product_info using(prod_id)
            join product_details using(prod_id)
            join product_reviews using(prod_id);
            """
         )
joinedlego = pd.DataFrame(c.fetchall())
joinedlego.columns = [i[0] for i in c.description]
joinedlego.head()

,prod_id,country,list_price,ages,piece_count,set_name,prod_desc,prod_long_desc,theme_name,num_reviews,play_star_rating,review_difficulty,star_rating,val_star_rating
0,75823,US,29.99,6-12,277,Bird Island Egg Heist,blah,blahblah,Angry Birds™,2.0,4.0,Average,4.5,4.0
1,75822,US,19.99,6-12,168,Piggy Plane Attack,blah,blahblah,Angry Birds™,2.0,4.0,Easy,5.0,4.0
2,75821,US,12.99,6-12,74,Piggy Car Escape,blah,blahblah,Angry Birds™,11.0,4.3,Easy,4.3,4.1
3,21030,US,99.99,12+,1032,United States Capitol Building,blah,blahblah,Architecture,23.0,3.6,Average,4.6,4.3
4,21035,US,79.99,12+,744,Solomon R. Guggenheim Museum®,blah,blahblah,Architecture,14.0,3.2,Challenging,4.6,4.1

In [147]:
joinedlego.to_csv('joinedlego.csv', index=False)

## Summary
Nice work! You're working more and more independently through the workflow and ensuring data integrity!